apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
    version: blue # Initially pointing to blue
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3000
  type: LoadBalancer
